# .editorconfig: http://EditorConfig.org
# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true

[scripts/**.{js,jxa,applescript,scpt}]
charset = utf-16le
indent_style = tab
indent_size = 8

[data/**.{json,plist,xml}]
charset = utf-8
indent_style = tab
indent_size = 8

[{package.json,.travis.yml}]
indent_style = tab
indent_size = 8
